<% include partials/header.ejs %>


<h1  id="newF">New Workout</h1>


<div id="form-cont" class="container">
<form action="/workouts/<%= currentUser %>" method="POST" id="f">
        <div class="form-group">
          <label style="text-decoration:underline;">Get Ready</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="workout[getReady]">
        </div>
        <div class="form-group">
          <label style="text-decoration:underline;">Workout</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="workout[workout]">
        </div>
        <div class="form-group">
            <label style="text-decoration:underline;">Rest</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="workout[rest]">
        </div>
        <div class="form-group">
            <label style="text-decoration:underline;">Rounds</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="workout[rounds]">
        </div>
        <div class="form-group">
                <label style="text-decoration:underline;">No Of Tabatas</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="workout[noOfTabatas]">
            </div>
        <span><button type="submit" class="btn btn-success">Submit</button>
          <a class="btn btn-danger" style="float:right; width:70px;" href="/workouts/<%=currentUser._id %>">Back </a></span>
      </form>
    </div>

<% include partials/footer.ejs %>
